
.container-nav {
    display: flex;
    padding: 16px;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {

    .container-nav {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column;
    }

    .navlinks {
        flex-direction: column;
        gap: 8px;
        width: 80%;
        justify-content: space-evenly !important;
    }
}