
.container-intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: center;
    align-items: center;
}

.description-intro {
    width: 70%;
    margin-top: 20px;
}

.description-p2-intro {
    width: 70%;
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .container-intro {
        padding-left: 2%;
        padding-right: 2%;
    }
    .description-intro {
        width: 90%;
    }
    .description-p2-intro {
        width: 90%;
    }
}


@media only screen and (max-width: 800px) {
    .title-intro {
        width: 80%;
    }
    .container-intro {
        padding-left: 2%;
        padding-right: 2%;
    }
    .description-intro {
        width: 90%;
    }
    .description-p2-intro {
        width: 90%;
    }
}


